# Ignore Maven build output
target/

# Common IDE files
.idea/
*.iml
.classpath
.project
.settings/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and generated binaries
*.log
*.class
*.jar
*.war
*.ear

# txt
# Ignore all .txt files inside the repository's `txt/` folder
txt/*.txt
!txt/classement_libre.txt
!txt/classement_chrono.txt